{#
 # Macro which converts Python data structure to YAML format
 #}

{%- macro yaml_encode(
  item,
  level=0,
  skip_indent=false,
  quotation_mark='"',
  indention_unit='  ') %}

  {%- if item is mapping %}
    {%- for key, value in item.iteritems() | sort -%}
      {%- if skip_indent == true and loop.first -%}
        {{ ' ' }}
      {%- else -%}
        {{ indention_unit * level }}
      {%- endif -%}

      {{ key }}:

      {%- if value is not string and value is not number -%}
        {{ "\n" }}
      {%- endif -%}

      {{ yaml_encode(
           value,
           level=level+1,
           quotation_mark=quotation_mark,
           indention_unit=indention_unit) }}
    {%- endfor %}

  {%- elif item is number -%}
    {{ ' ' + item | string + "\n" }}

  {%- elif item is string -%}
    {{ ' ' +
       quotation_mark +
       item | replace(quotation_mark, '\\'+quotation_mark) +
       quotation_mark + "\n" }}

  {%- else -%}
    {%- for n in item -%}
      {{ indention_unit * level }}-
      {%- if n is not string and
             n is not number and
             n is not mapping -%}
        {{ "\n" }}
      {%- endif -%}
      {{ yaml_encode(
           n,
           level=level+1,
           skip_indent=true,
           quotation_mark=quotation_mark,
           indention_unit=indention_unit) }}
    {%- endfor %}
  {%- endif %}
{% endmacro %}
